.masthead{
	background-color:black;
	height:55px;
}

.masthead h1{
	margin-top:0px;
	margin-left:20px;
	padding-top:10px;
	color:white;
}

.masthead h1 a:link{
	color:white;

}

.masthead h1 a:visited{
	color:white;
}

.dellink{
	cursor:pointer;
}