<div class="row">
	<div class="col-lg-12">
		<h2>Edit {{name}}</h2>
		<form role="form">
			<div class="form-group">
				<input type="text" class="form-control col-lg-12" placeholder="Copy the url to add here: http://bookmark-url" />
			</div>
		</form>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-lg-12">
		<ul>
			<li>Link Name</li>
		</ul>
	</div>
</div>